

.slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 20px;
  z-index: 1;

}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 9s infinite;
  z-index: 0; 
}

.slideshow img:nth-child(1) { animation-delay: 0s; }
.slideshow img:nth-child(2) { animation-delay: 3s; }
.slideshow img:nth-child(3) { animation-delay: 6s; }

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  33% { opacity: 1; }
  43% { opacity: 0; }
  100% { opacity: 0; }
}



.main {
  display: flex;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  height: 75px;


  z-index: 9999;
  background-color: wheat;

  box-shadow: 0 10px 10px -1px rgba(0,0,0,0.2);
}

.nav-1-img {
  flex: 1;
}

.nav-1-img img {
  width: 150px;
} 
.second{
  display: flex;
  flex: 3;
}
.front-search-box{
  display: flex;
  position: relative;
  width: 250px;
  flex: 10;
  margin-left: 100px;
}
.front-search-box p{
  flex: 5;
}
.search-box {
  position: relative;
  width: 250px;
  flex: 8;
}

.search-box input {
  width: 100%;
  padding: 10px;
}

.search-input {
  border: none;
  background-color: #f2f2f2;
}

.search-icon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: blue;
}

.last-nav,
.last-navicon {
  /* background-color: aqua; */
  text-align: center;
  display: flex;
  flex: 0.5;
  margin-left: 10%;
  gap: 10px;
}
.last-navicon .last_1{
  color: black;
}

.last-nav button {
  border: none;
  padding: 10px 24px;
  font-weight: 700;
}
