.slideshow {
  position: relative;
  width: 100%; /* set size */
  height: 400px;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 20px;
  z-index: 1;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 9s infinite;
}

.slideshow img:nth-child(1) {
  animation-delay: 0s;
}

.slideshow img:nth-child(2) {
  animation-delay: 3s;
}

.slideshow img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  33% { opacity: 1; }
  43% { opacity: 0; }
  100% { opacity: 0; }
}








