.card {
  width: 90%;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.10);
}

.imgBox {
  position: relative;
  height: 200px;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fav {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.content {
  padding: 16px;
}

.content h3 {
  font-size: 14px "inter var" sans-serif;
  margin: 0 0 4px;
  font-weight: 600;
  color: #444444;
}

.sub1 {
  font-size: 14px;
  color: #666;
  margin: 0 0 6px;
}

.detail {
  color: #666;
  font-size: 14px;
}

.price {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
}
.carousel-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: white;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.arrow.left {
  left: -20px;
}

.arrow.right {
  right: -20px;
}

.arrow:active {
  transform: translateY(-50%) scale(0.9);
}