.cardd {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
}

.imgBoxx {
    position: relative;
    height: 200px;
}

.imgBoxx img {
    width: 100px;
    height: 100;
    object-fit: cover;

}

.favm {
    border-radius: 4px;
    position: absolute;
    top: 12px;
    left: 1px;
    background: rgb(252, 151, 1);
    border: none;
    /* border-radius: 50%; */
    width: 125px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    color: white;
    font-weight: 800;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.til {
    border-radius: 4px;
    position: absolute;
    bottom: 2px;
    right: 65px;
    color: white;
    border: none;
    /* border-radius: 50%; */
    width: 200px;
    height: 15px;
    font-size: large;
    cursor: pointer;
    font-size: 40px "inter var" sans-serif;

    font-weight: 1000;
    padding: 10px;
    /* background-color: ; */

}